<?php
return [
    'losrouteros' => [
        /**
         * Router hostname or IP
         */
        //'host' => '',

        /**
         * Router port
         */
        //'port' => '8728',

        /**
         * Username
         */
        //'username' => '',

        /**
         * Password
         */
        //'password' => ''
    ]
];